<!doctype html>
<html lang="ko">
<head>
<script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<script type="text/javascript">
  var naver_id_login = new naver_id_login("ZwV8tMKR9goChugNiuqV", "http://localhost:3000/");
//   // 접근 토큰 값 출력
//   alert(naver_id_login.oauthParams.access_token);
//   // 네이버 사용자 프로필 조회
//   naver_id_login.get_naver_userprofile("naverSignInCallback()");
//   // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
//   function naverSignInCallback() {
//     alert(naver_id_login.getProfileData('email'));
//     alert(naver_id_login.getProfileData('nickname'));
//     alert(naver_id_login.getProfileData('age'));
//   }

  if (location.hash) {
  const hashParams = new URLSearchParams(location.hash.slice(1));
  const access_token = hashParams.get("access_token");

  // 액세스 토큰을 세션 스토리지에 저장
  sessionStorage.setItem("naver_access_token", access_token);

  // 필요한 경우 액세스 토큰을 서버에 전송하여 저장
  // ...

  // 콜백 URL에서 메인 페이지로 리다이렉트
  location.replace("/");
}
</script>
</body>
</html>

