<html lang="kor">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <div class="BgDimmed">
        <div class="InvitationPage">
        </div>
    </div>
    <%- include('partials/header.ejs') %>

    <!-- 컨텐츠 영역 -->
    <div class="main_contents">
        <!-- 네이버 로그인 -->
        <div class="naver_Wrap">
            <div id="naver_id_login"></div>
        </div>
    </div>
    <div class="footer">
        Copyright © 2022 SpaceDot All rights reserved.
    </div>
        <!-- 네이버 로그인 -->
        <script type="text/javascript">
            var naver_id_login = new naver_id_login("ZwV8tMKR9goChugNiuqV", "http://localhost:3000/naver_login_callback");
            var state = naver_id_login.getUniqState();
            naver_id_login.setButton("white", 2,40);
            naver_id_login.setDomain("YOUR_SERVICE_URL");
            naver_id_login.setState(state);
            naver_id_login.init_naver_id_login();
        </script>
</body>
</html>
