<html lang="kor">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <div class="BgDimmed">
        <div class="InvitationPage">
        </div>
    </div>
    <%- include('./partials/header.ejs') %>

    <!-- 컨텐츠 영역 -->
    <div class="loginContentsWrap">
        <div class="loginContentsInner">
            <div class="logoImg">
                <img class="logoImg" src="../Resource/Logo_Symbol.svg" alt="">
            </div>
            <div class="loginBodyText">
                네이버계정으로 간편하게 가입하고<br>쉽게 모바일 청첩장을 제작하세요
            </div>
            <!-- 네이버 로그인 -->
            <div class="naver_Wrap">
                <div id="naver_id_login"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        Copyright © 2022 SpaceDot All rights reserved.
    </div>
        <!-- 네이버 로그인 -->
        <script type="text/javascript">

            $(document).ready(function() {
                $.ajax({
                  url: '/api_naver_client_id',
                  method: 'GET',
                  success: function(response) {
                    const clientId = response.clientId;
                    const callbackUrl = "/api_NaverLoginCallback"; // 콜백 URL을 입력하세요
                    var isPopup = false;
                    // 네이버 로그인 객체 생성
                    var naver_login = new naver_id_login(clientId, "http://localhost:3000/api_NaverLoginCallback");
                    var state = naver_login.getUniqState();
                    naver_login.setButton("green", 20,45);
                    naver_login.setDomain("YOUR_SERVICE_URL");
                    naver_login.setState(state);
                    naver_login.init_naver_id_login();
                  },
                  error: function(xhr, status, error) {
                    console.log(error);
                  }
                });
              });
        </script>
</body>
</html>
