<div class="BoardArea">
    <div class="BoardItem">
        <div class="BoardText">
            <div class="BoardFrom">
                <div class="From">From</div>
                <div class="FromTarget">강스캉</div>
            </div>
            <div class="BoardBody">
                너무 축하해~^^ 행복하게 살아
            </div>
        </div>
    </div>
</div>