<!-- 이미지 갤러리 미리보기 -->
<div class="BgDimmed" id="GalleryPreview">
    <img src="" alt="your-image-description" class="full-image">
    <button class="close-button" id="GalleryPreviewExit">
        <img src="../Resource/assets/Icon/Del.svg" alt="">
    </button>
</div>