<!-- 청첩장 저장 Alert -->
<div class="SavedArea">
    <div class="BgDimmed" id="SaveCompleteDimmed">
        <div class="ModalSaveComplete">
            <div class="ModalTextWrap">
                <div class="ModalTitle">저장 완료</div>
                <div class="ModalDes">저장한 내용은 제작 내역에서 확인하실 수 있어요.</div>
            </div>
            <div class="InviteBtnGroups">
                <button class="ProgressSave" id="previewInvitation">청첩장 미리보기</button>
                <button class="ProgressSave" id="SavedView">마이페이지</button>
                <button class="ProgressSave" id="ClosedView">닫기</button>
            </div>
        </div>
        <button class="close-button">
            <img src="../Resource/assets/Icon/Del.svg" alt="">
        </button>
    </div>
</div>