<div class="DimmedArea">
    <div class="BgDimmed" id="Board_Create_Dimmed">
        <div class="AlertWrap">
            <div class="AlertHeader">
                방명록
            </div>
            <div class="borderline_modal"></div>
            <div class="AlertBody">
                <div class="selectbox_modal_detail">
                    <label class="selectbox_modal_label" for="file">작성자</label>
                    <div class="NameBox">
                        <input class="base" id="Board_Writer" name="base" type="base" placeholder="작성자"
                            data-value="" value="">
                    </div>
                </div>
                <div class="selectbox_modal_detail">
                    <label class="selectbox_modal_label" for="file">내용</label>
                    <div class="NameBox">
                        <textarea class="TextBox_Alert" id="Board_Contents" name="" rows="10" cols="10" placeholder="내용 입력"></textarea>
                    </div>
                </div>
                <div class="selectbox_modal_detail">
                    <label class="selectbox_modal_label" for="file">비밀번호</label>
                    <div class="NameBox">
                        <input class="base" id="Board_Password" name="base" type="base" placeholder="비밀번호 입력"
                            data-value="" value="">
                    </div>
                </div>
            </div>
            <div class="AlertControl">
                <button class="CloseAlert" id="CloseAlert_Create">닫기</button>
                <button class="SaveAlert" id="SaveBoard">저장하기</button>
            </div>
        </div>
    </div>
</div>