<!-- 청첩장 미리보기 -->
<div class="PreviewArea">
    <div class="PreviewPage"></div>
    <div class="BgDimmed" id="PreviewDimmed">
        <button class="close-button">
            <img src="../Resource/assets/Icon/Del.svg" alt="">
        </button>
    </div>
</div>