<div class="DimmedArea">
    <div class="BgDimmed" id="Board_Del_Dimmed">
        <div class="AlertWrap">
            <div class="AlertHeader">
                방명록 삭제
            </div>
            <div class="borderline_modal"></div>
            <div class="AlertBody">
                <div class="selectbox_modal_detail">
                    <label class="selectbox_modal_label" for="file">비밀번호</label>
                    <div class="NameBox">
                        <input class="base" id="deletePassword" name="base" type="base" placeholder="비밀번호 입력"
                            data-value="" value="">
                    </div>
                </div>
            </div>
            <div class="AlertControl">
                <button class="CloseAlert" id="CloseAlert_Del">취소</button>
                <button class="SaveAlert" id="DeleteConfirm">확인</button>
            </div>
        </div>
    </div>
</div>