<div class="DimmedArea">
    <div class="BgDimmed" id="Board_View_Dimmed">
        <div class="AlertWrap">
            <div class="AlertHeader">
                방명록
            </div>
            <div class="borderline_modal"></div>
            <div class="AlertBody">
                <div class="BoardArea_Alert">
                    <div class="BoardItem">
                        <div class="BoardText">
                            <div class="BoardFrom">
                                <div class="From">From</div>
                                <div class="FromTarget">강스캉</div>
                            </div>
                            <div class="BoardBody">
                                너무 축하해~^^ 행복하게 살아
                            </div>
                        </div>
                        <div class="BoardDelete">
                            <img class="BoardIconDel"
                                src="../Resource/assets/Icon/Del.svg" alt="">
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="AlertControl">
                <button class="CloseAlert" id="CloseAlert_View">닫기</button>
            </div>
        </div>
    </div>
</div>