<!-- footer.ejs -->
<div class="Footer">
    <div class="FooterWrap">
        <div class="FooterLink">
            <div class="CompanyInfo">
                <div class="CompanyInfoItem">회사 소개</div>
                <div class="CompanyInfoItem">이용 약관</div>
                <div class="CompanyInfoItem">개인정보처리방침</div>
                <div class="CompanyInfoItem">제휴 문의</div>
            </div>
            <div class="CompanySNS">
                <img class="CompanyBlog" src="../../Resource/assets/Icon/Twitter.svg" alt="">
                <img class="CompanyInsta" src="../../Resource/assets/Icon/Instagram.svg" alt="">
            </div>
        </div>
        <div class="FooterAddress">
            <div class="BusinessInfo">(주)포먼트 대표이사 노미숙 사업자등록번호 104-81-50311 통신판매신고 2019-서울영등포-1925</div>
            <div class="OtherInfo">개인정보관리책임자: 노미숙 서울시 영등포구 여의대로 24 21층 호스팅 제공: 아마존 웹서비스 (Amazon Web Services) 고객만족센터 1577-4701</div>
        </div>
    </div>
</div>