<!-- header.ejs -->
<div class="header">
    <div class="header_wrap">
      <div class="LogoWrap">
        <a class="SymbolLink" href="/">
          <img class="LogoSymbol" src="../Resource/Logo_Symbol.svg" alt="">
        </a>
      </div>
      <div class="LoginWrap">
        <div class="LoginInfo">seokhkang</div>
        <div class="LoginBound"></div>
        <div class="LogOut" id="LogoutBtn">
          <button class="LoginBtn">로그아웃</button>
        </div>
      </div>
    </div>
  </div>
  