<!-- header.ejs -->
<div class="header">
    <div class="header_wrap">
      <div class="LogoWrap">
        <a class="SymbolLink" href="/">
          <img class="LogoSymbol" src="../Resource/Logo_Symbol1.svg" alt="">
        </a>
      </div>
      <div class="LoginWrap">
        <div class="Create_InvitationBtn" id="Create_InvitationBtn">제작하기</div>
        <div class="LoginBound"></div>
        <a class="LoginInfo" href="/mypage" id="myPage">seokhkang</a>
        <div class="LoginBound"></div>
        <div class="LogOut" id="LogoutBtn">
          <button class="LoginBtn">로그아웃</button>
        </div>
      </div>
    </div>
  </div>
  