
                <div class="HistoryWrap">
                    <div class="HistoryItem">
                        <div class="HistoryItemWrapHead">
                            <img class="HistoryImg" src="../Resource/mainasset/WeddingTitleImg.jpg" alt="">
                            <div class="InviteInfoWrap">
                                <div class="InfoTitleHead">
                                    <div class="TypeInfo">
                                        <div class="InviteTypeTItle">모먼트</div>
                                        <div class="DelDate">
                                            <span class="DelTitle">최초 생성일</span>
                                            <span class="sectionline"></span>
                                            <span class="CreateBody"><%= template.create_date %></span>
                                        </div>
                                        <div class="CreateDate">
                                            <span class="CreateTitle">삭제 예정일</span>
                                            <span class="sectionline"></span>
                                            <span class="DelBody">1990-08-06</span>
                                        </div>
                                    </div>

                                    <div class="InviteTailWrap">
                                        <div class="InviteURLWrap">
                                            <span class="InviteURLInfo" id="InviteURLInfo">
                                                <%= template.template_ID %>
                                            </span>
                                            <span class="InviteURLCopy" id="InviteURLCopy">
                                                청첩장 주소 복사
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="HistoryItemWrapTail">
                                    <button class="BtnEdit" id="BtnEdit">수정하기</button>
                                    <button class="BtnMd" id="BtnWaterMark">워터마크 제거</button>
                                    <button class="BtnMd" id="BtnInviteView">청첩장 보기</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
